body {
  background: url("https://wallpapercave.com/uwp/uwp964924.jpeg");
  margin: 0%;
  box-sizing: border-box;
}
.papa {
  display: flex;
  flex-direction: column;
  padding: 0px 35% 0px 35%;
  gap: 35px;
}
.registrar {
  position: absolute;
  right: 4%;
  top: 4%;
  height: 33px;
  border-radius: 7px;
}
.registrar:hover {
  transition-duration: 0.5s;
  transform: scale(1.2, 1.2);
}

#iputLogin {
  border-radius: 5px;
  height: 33px;
  margin-top: 3px;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.bienvenidos {
  animation: text 3s infinite;
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#btn {
  margin-top: 19px;
}

@keyframes text {
  0% {
    color: rgb(0, 0, 0);
    letter-spacing: 8px;
  }
  30% {
    color: brown;
    letter-spacing: 25px;
  }
  85% {
    color: rgb(175, 141, 97);
    letter-spacing: 8px;
  }
  95% {
    color: brown;
  }
  100% {
    color: rgb(0, 0, 0);
    letter-spacing: 8px;
  }
}
