#form-agregar {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
input {
  padding: 5px;
  margin: 5px 0 5px;
  border-radius: 5px;
}
.stats {
  width: 720px;
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
}
.descripcion {
  flex-direction: column;
  display: flex;
  height: 150px;
  width: 720px;
}
#descripcion-input {
  height: 100%;
}
.nombre-numero-peso-altura,
.elementos-movimientos,
.color-imagen {
  display: flex;
  column-gap: 20px;
}
.nnpa,
.em,
.cm,
.hp-atk,
.def-satk {
  flex-direction: column;
  display: flex;
}
.sdef-spd {
  display: flex;
  flex-direction: column;
}
.sDefens,
.sSpeed {
  display: flex;
  flex-direction: column;
}
.textarea {
  margin-top: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
}
.p-formulario {
  margin: 1px 0 5px 0;
  font-size: 0.5rem;
  color: rgb(255, 0, 0);
}

.in-a {
  width: 350px;
  height: 40px;
}
.in-stats {
  width: 130px;
  height: 40px;
}
.btn_agg {
  width: 200px;
  height: 33px;
  border-radius: 7px;
}
.btn_agg:hover {
  transition-duration: 0.5s;
  transform: scale(1.4, 1.4);
}
@media (max-width: 390px) {
  #form-agregar {
    margin-top: 10px;
    font-size: 0.7rem;
    height: auto;
  }
  .nombre-numero-peso-altura {
    display: flex;
    flex-direction: column;
  }
  .elementos-movimientos {
    display: flex;
    flex-direction: column;
  }
  .color-imagen {
    display: flex;
    flex-direction: column;
  }
  .descripcion {
    width: 350px;
    height: 150px;
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hp-atk def-satk"
      "sdef-spd sdef-spd";
    width: 280px;
    height: 250px;
  }

  .hp-atk {
    grid-area: hp-atk;
  }
  .def-atk {
    grid-area: def-satk;
  }
  .sdef-spd {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    grid-area: sdef-spd;
  }
  .sDefens {
    display: flex;
    flex-direction: column;
  }
  .sSpeed {
    display: flex;
    flex-direction: column;
  }

  .btn_agg {
    margin-bottom: 25px;
    font-size: 0.4rem;
    padding: 5px 5px;
  }
  .in-a {
    height: 35px;
  }
}
