#body {
  display: flex;
  flex-direction: column;
  padding: 0px 35% 0px 35%;
  gap: 35px;
}
.tituloRegister {
  animation: text 3s infinite;
  text-align: center;
  margin-bottom: 20px;
}
.formRegister {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-size: 1.3rem;
}

.divDatos {
  display: flex;
  flex-direction: column;
}

.butRegister {
  height: 33px;
  border-radius: 7px;
  width: 100%;
}
.butRegister:hover {
  transition-duration: 0.5s;
  transform: scale(1.2, 1.2);
}

.inputRegis {
  border-radius: 5px;
  height: 33px;
  margin-top: 3px;
}

@media (max-width: 390px) {
  #body {
    padding: 0px;
    margin: 95px 33px;
  }
  .formRegister {
    font-size: 1rem;
    gap: 16px;
    /* margin: 95px 33px; */
  }
  .tituloRegister {
    font-size: 1.3rem;
  }
  .butRegister {
    font-size: 0.7rem;
  }
  .butRegister:hover {
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
  }
}
