.numeroPokemon {
  position: relative;
  right: 106px;
  bottom: 10px;
}
.elementosPokemones {
  font-size: 1rem;
  justify-content: space-evenly;
  display: flex;
  position: relative;
  bottom: 13px;
}
.padrePokemones {
  position: relative;
}
.padrePokemones:hover {
  box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  -webkit-box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  -moz-box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  transition-duration: 0.2s;
  transform: scale(1.2, 1.2);
}
.imagenPokemon {
  width: 200px;
  width: 200px;
}
.delete {
  margin: -2px 0 0 255px;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 8px 10px;
  border-radius: 0px 20px 0px 0px;
}
.delete:hover {
  color: rgb(255, 0, 0);
  transition-duration: 0.2s;
  /* transform: scale(1.2, 1.2); */
}
/* @keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */
