.numeroPokemon {
  position: relative;
  right: 106px;
  bottom: 10px;
}
.elementosPokemones {
  font-size: 1rem;
  justify-content: space-evenly;
  display: flex;
  position: relative;
  bottom: 13px;
}
.padrePokemones {
  position: relative;
  width: 300px;
}
.cardBorder {
  font-size: 25px;
  padding: 10px;
  color: white;
}
.padrePokemones:hover {
  box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  -webkit-box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  -moz-box-shadow: 5px 19px 29px 6px rgba(23, 23, 23, 0.89);
  transition-duration: 0.2s;
  transform: scale(1.2, 1.2);
}
.imagenPokemon {
  width: 200px;
  width: 200px;
}
.delete {
  margin: -2px 0 0 255px;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 8px 10px;
  border-radius: 0px 20px 0px 0px;
}
.delete:hover {
  color: rgb(255, 0, 0);
  transition-duration: 0.2s;
  /* transform: scale(1.2, 1.2); */
}

@media (max-width: 390px) {
  .padrePokemones {
    width: 150px;
    height: 160px;
  }

  .imagenPokemon {
    width: 86px;
    position: absolute;
    bottom: 27px;
    left: 31px;
  }

  .delete {
    margin: -1px 0 0 116px;
    font-size: 0.8rem;
    padding: 3px 7px;
    position: absolute;
    right: 0px;
  }
  .cardBorder {
    font-size: 11px;
    padding: 10px;
    color: white;
    position: relative;
    top: 75px;
  }

  .elementosPokemones {
    padding: 6px;
    height: 20px;
    margin-top: 21px;
    font-size: 7px;
    position: relative;
    bottom: 17px;
  }
  .numeroPokemon {
    position: relative;
    right: 48px;
    top: 68px;
    font-size: 0.5rem;
  }
}
